body {
    background-color: rgb(238, 131, 238);
  }

  form {border: 2px solid #e4e1e1;}
  h1{
      text-align:center;
      text-shadow: gray;
      color: rgb(125, 46, 145);
      margin-left: 10pfx;
    }

    p {
        text-align:center;
        text-shadow: gray;
        color: rgb(165, 21, 201);
        margin-left: 10px; 
      }

      input[type=text] {
        width: 50%;
        padding: 10px;
        border: 3px solid gray;
       
        
      }

      input[type=radio] {
       
        padding: 20px;
        border: 3px solid gray;
         
      }

      input[type=number] {
       
        padding: 10px;
        border: 3px solid gray;
         
      }

      input[type=password] {
       
        padding: 10px;
        border: 3px solid gray;
         
      }

     select {
       
        padding: 10px;
        border: 3px solid gray;
         
      }

      
     .container {
       
       border-radius: 50px;
       background-color: linen;
       padding: 50px;
       margin-top: 100px;
       width: 600px;
       height: 1000px;
       text-align: left;
         
      }

      .registerbutton {

        background-color: rgb(125, 218, 32);
        color: rgb(252, 252, 252);
        font-weight: 800;
        font-size:23px ;
        padding: 12px 20px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
      }

      form {
          margin-top:80px;
      }

      .copy {
          text-align: center;
          font-weight: 600;
          margin-top: 40px;
      }

      .imgcontainer{

        text-align: center;
        margin-top: 30PX;
      }
     